.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown ol {
    list-style: decimal;
}

.markdown ul {
    list-style: disc;
}

.markdown ol,
.markdown ul {
    margin-left: 36px;
}

.markdown li {
    padding-left: 6px;
}

.markdown a {
    /*color: #ccc;*/
    text-decoration: underline;
}

.markdown blockquote {
    padding: 8px 25px;
    border-left: 10px solid #ccc;
    @apply bg-gray-100
}
